Xft.dpi: 144
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
/* brocode
*.background: #282828
*.foreground: white
*.cursorColor: white
*.color0:      #1f1f1f
*.color8:      #d6dbe5
*.color1:      #f81118
*.color9:      #de352e
*.color2:      #2dc55e
*.color10:     #1dd361
*.color3:      #ecba0f
*.color11:     #f3bd09
*.color4:      #2a84d2
*.color12:     #1081d6
*.color5:      #4e5ab7
*.color13:     #5350b9
*.color6:      #1081d6
*.color14:     #0f7ddb
*.color7:      #d6dbe5
*.color15:     #ffffff
*.colorBD:     #d6dbe5

*/

*.background: #0e1019
*.foreground: #fffaf4
*.cursorColor: #fffaf4
*.color0:      #232323
*.color8:      #444444
*.color1:      #ff000f
*.color9:      #ff2740
*.color2:      #8ce10b
*.color10:     #abe15b
*.color3:      #ffb900
*.color11:     #ffd242
*.color4:      #008df8
*.color12:     #0092ff
*.color5:      #6d43a6
*.color13:     #9a5feb
*.color6:      #00d8eb
*.color14:     #67fff0
*.color7:      #ffffff
*.color15:     #ffffff
